<div class="upgrade-card">
    <figure>
        <picture>
            <img src="<%- upgrade.imageUrl %>" alt="<%- upgrade.title%>">
        </picture>
        <figcaption>
            <a href="/" target="_blank" rel="noopener noreferrer"><%- upgrade.title %></a>
        </figcaption>
    </figure>
</div>