main {
    margin: 1rem 0;
    padding: 0 .5rem;
}

main h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

.hero-image {
    --hero-padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: var(--hero-padding) 0;
}

.hero-image img {
    max-inline-size: 500px;
}

.hero-image article {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: absolute;
    top: var(--hero-padding);
    left: 0;
    color: var(--primary-color);
    font-family: var(--secondary-font-family);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
}

.hero-image article h2 {
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: 1.125rem;
}

.hero-image article button {
    width: 100%;
    max-width: 10rem;
    min-height: 3rem;
    border: 0;
    outline: 0;
    padding: 0.5rem 0.125rem;
    font-size: 0rem;
    background-image: url(/images/site/own_today.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

main section:last-child {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
}

#reviews h2, #upgrades h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

#reviews ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: disc;
    padding-left: 1.25rem;
}

#upgrades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    gap: 0.5rem;
}

#upgrades h2 {
    grid-column: 1 / 3;
}

#upgrades .upgrade-card figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

#upgrades .upgrade-card picture {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    min-height: 5rem;
}

#upgrades .upgrade-card picture img {
    width: auto;
    max-height: 4rem;
}

@media screen and (min-width: 640px) {
    .hero-image {
        margin-bottom: 3rem;
    }

    main section:last-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 720px) {
    .hero-image article {
        --hero-padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        min-width: 40%;
        position: absolute;
        top: var(--hero-padding);
        left: 0;
        color: var(--primary-color);
        font-family: var(--secondary-font-family);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1rem;
        flex: 1;
    }
    

    .hero-image article h2 {
        font-size: 1.75rem;
    }

    #reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}